*{
    padding: 0;
    margin: 0;

}


li{
    display: inline;
}
#navbar{
    width: 500px;
    border: 5px solid blue;;
    padding: 12px;
    margin: 0px;
    text-align: right;

}
body{
    background-image: url('./assets/home/background-home-desktop.jpg')
}
#destination-body{
    background-image: url('./assets/destination/background-destination-desktop.jpg')
}

#home-text{
    height: 200px;
    width: 100px;
    display: flex;
    flex-direction: column;
    color: white;
    

    
    
}
#home-text h3{
    color: white;
    font-size: 30px;
    text-align: center;
    justify-content: center;
}
#home-text h1{
    color: white;
    font-size: 40px;
    text-align: center;
    justify-content: center;
    
}
#home-text p{
    color: white;
    font-size:30px;
    text-align: center;
    justify-content: center;
}



#explore-button{
 float:right;
 height: 100px;
 width: 100px;
 border-radius: 50%;
 border: 10px solid white;


}